<a href="https://colab.research.google.com/github/Victory567/lab-t-tests-p-values/blob/master/Untitled_(13).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

import scipy.stats as stats
import pandas as pd

In [ ]:
data1 = pd.read_csv('Untitled spreadsheet - machine.csv')

data1.columns = [columns_name.lower() for columns_name in data1.columns]
data1.columns = [columns_name.replace(' ', '_') for columns_name in data1.columns]
data1

   new_machine  old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

In [ ]:

t_statistic, p_value = stats.ttest_1samp(a=data1, popmean=5000)
print(t_statistic , p_value)

[-22939.51122213 -20902.67430537] [2.89476532e-36 6.68427196e-36]

In [ ]:
# import packages
import scipy.stats as stats
import pandas as pd
  
# loading the csv file
data = pd.read_csv('Untitled spreadsheet - machine.csv)
  
# perform one sample t-test
t_statistic, p_value = stats.ttest_1samp(a=data, popmean=5000)
print(t_statistic , p_value)

SyntaxError: EOL while scanning string literal (333729928.py, line 6)

In [ ]:
# the data showss that the new machine is more efficient than the old machine